<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
 
<body src="img.jpeg">
  

<h1 style="text-align:center;color:black;">Fake News Detection</h1>

<!-- <img src="fake.jpeg"  width="450" height="200"> -->

<form action="{{ url_for('predict')}}" method="POST" type="submit"> 
  <h1 label="news">Enter News :</label h1><br>
  <textarea 
id="news" name="news" rows="10"></textarea><br>
  <input type="submit" value="Predict">
</form>

<h1>
  {% if prediction %}
    {{ prediction }}
  {% endif %}
</h1>

</body>
</html>